<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93583358504-70oq5r0t4i7l6papf5075qep4165br28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93583358504-70oq5r0t4i7l6papf5075qep4165br28</string>
	<key>API_KEY</key>
	<string>AIzaSyBlnR8fRG3v1vaaxLgAvu6nK69PlcjhGak</string>
	<key>GCM_SENDER_ID</key>
	<string>93583358504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.yandeveloper.Messenger</string>
	<key>PROJECT_ID</key>
	<string>login---imessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>login---imessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93583358504:ios:6ba45dd4effbef1787131d</string>
</dict>
</plist>